<ui-card layout="vertical" class="manage_users_container" justifyContent="space-between" gapStyle="large">
  <ui-card alignItems="center">
    <h4 class="m-0">Todos os Usuários</h4>
    <select [ngModel]="userId" (ngModelChange)="onSelectUserId(+$event)">
      @for (user of users; track user.userId) {
        <option value="{{ user.userId }}" [selected]="user.userId === userId">{{ user.name }}</option>
      }
    </select>
  </ui-card>

  @if (user) {
    <ui-card gapStyle="large" class="w-100" [flexWrap]="true"> 
      <ui-card layout="vertical" class="user_container">
        <div class="display_row">
          <p>ID do Usuário:</p>
          <p>&nbsp;</p>
          <span>{{ user.userId }}</span>
        </div>
        <div class="display_row">
          <p>Nome do Usuário:</p>
          <p>&nbsp;</p>
          <span>{{ user.name }}</span>
        </div>
        <div class="display_row">
          <p>Cargo:</p>
          <p>&nbsp;</p>
          <span>{{ user.role }}</span>
        </div>
        <div class="display_row">
          <p>Cotas Padrões:</p>
          <p>&nbsp;</p>
          <span>{{ user.standardQuota }}</span>
        </div>
        <div class="display_row">
          <p>Cotas Suplentes:</p>
          <p>&nbsp;</p>
          <span>{{ user.substitutionQuota }}</span>
        </div>
        <div class="display_row">
          <p>Cotas Contingentes:</p>
          <p>&nbsp;</p>
          <span>{{ user.contingencyQuota }}</span>
        </div>
        <div class="display_row">
          <p>ID do Barco:</p>
          <p>&nbsp;</p>
          <span>{{ user.boatId }}</span>
        </div>
      </ui-card>
      
      <ui-card layout="vertical" class="user_container">
        <div>Reservas:</div>
        @for (reservation of reservationsByUserId; track reservation) {
          @if (reservation.userId === user.userId) {
            <div class="display_row">
              <p>Data da Reserva:</p>
              <p>&nbsp;</p>
              <span>{{ reservation.day + '/' + reservation.month + '/' + reservation.year }}</span>
            </div>
          }
        }
      </ui-card>
    </ui-card>
  }

  <!-- botão para tornar o usuário administrador se for membro ou torná-lo membro se for administrador -->
  @if (userId !== currentUser?.userId) {
    <ui-card layout="vertical" class="add_user_container">
      @if (user && user.role === 'Member') {
        <button class="btn btn-warning" (click)="changeUserRole()">Tornar Usuário Administrador</button>
      } @else if (user && user.role === 'Admin') {
        <button class="btn btn-warning" (click)="changeUserRole()">Tornar Usuário Membro</button>
      }
    </ui-card>  
  }
</ui-card>
